name: build

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string

jobs:
  build:
    runs-on: ${{ inputs.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.62.2

      - name: Build
        run: pixi run clone && pixi run build